@import "tailwindcss";


.custom_container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero_bgimg {
  background-image: url("/images/png/hero-bg-img.png");
}

.start_journey_bgimg {
  background-image: url("/images/png/start-journey-bg-img.png");
}

.login_bgimg {
  background-image: url("/images/png/login-img.png");
  border-radius: 0 0 0 16px;
}

.bg_notification_project {
  background-image: url("/images/png/bg-notification-project.png");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.one-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  /* Limit to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background: #f0f0f0;
}

/* EDIT SCROLLBAR */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #2c4c4b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="checkbox"]::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}

.custom_shadow {
  box-shadow: 0px 7px 23px 0px #0000000d;
}