@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.custom_container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.hero_bgimg {
  background-image: url("/images/png/hero-bg-img.png");
}

.start_journey_bgimg {
  background-image: url("/images/png/start-journey-bg-img.png");
}

.login_bgimg {
  background-image: url("/images/png/login-img.png");
  border-radius: 0 0 0 16px;
}

.bg_notification_project {
  background-image: url("/images/png/bg-notification-project.png");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.one-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  /* Limit to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

body {
  background: #f0f0f0;
}

/* EDIT SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #2c4c4b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="checkbox"]::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}

.custom_shadow {
  box-shadow: 0px 7px 23px 0px #0000000d;
}

th .serve {
  @apply text-[#9A9999] text-xs leading-[133%] font-bold uppercase;
}

td {
  @apply text-sm text-[#213737] leading-[140%] font-bold;
}

/* barchart css start here  */

.css-1qdzy9k-MuiBarElement-root {
  width: 7px !important;
  fill: #ffffff !important;
}


.user_engagement .css-172kpif-MuiResponsiveChart-container {
  width: 100%;
  height: 250px !important;

}
.CSAT_Score .css-172kpif-MuiResponsiveChart-container {
  width: 100%;
  height: 350px !important;

}



.user_engagement .css-172kpif-MuiResponsiveChart-container>svg {
  background: linear-gradient(81.62deg, #2C4C4B 2.25%, #213737 79.87%);
  border-radius: 12px;
}

.user_engagement .css-1x2wln8-MuiChartsAxis-root-MuiChartsXAxis-root {
  display: none;
}


.css-175e1i1-MuiChartsAxis-root-MuiChartsYAxis-root .MuiChartsAxis-line {
  display: none;
}

.MuiChartsAxis-tick {
  display: none;
}

.user_engagement .css-175e1i1-MuiChartsAxis-root-MuiChartsYAxis-root .MuiChartsAxis-tickLabel {

  fill: rgba(255, 255, 255, 0.87) !important;
}

/* barchart css ends here  */
label .servy_label {
  @apply text-base text-[#213737] font-medium !leading-[140%] pb-1;
}

